.headPresentation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1em;
    overflow: hidden;
}
.headSection{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-bottom: 1em;
}
.headPresentationInformation{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 0em 1em 0em 1em;
}
.headPresentationImg{
    height: 10em;
    width: 10em;
    object-fit: cover;
    z-index: 100;
}

.themeButton{
    width: 2.5em;
    height: 2.5em;
    border-radius: 15%;
}
.themeButtonImg{
    width: 2em;
    height: 2em;
    border-radius: 15%;
}

.showProfile{
    width: 15em;
    height: 15em;
}